<head>
<script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
<script src="https://cdn.shopify.com/s/assets/external/pos_app.js"></script>
<script type="text/javascript">
   ShopifyApp.init({
     apiKey: 'ENV['API_KEY']'
     shopOrigin: 'https://@@shop'
   });
 </script>
 <script>
   ShopifyPOS.init({
    apiKey: 'ee254b0012fbaa56a5827dddc52dd2f6',
    shopOrigin: 'https://training-day.myshopify.com',
    debug: false,
    forceRedirect: true
  });
 </script>
</head>

  <!-- <title>Such app. Wow.</title>

  <form method="POST" action="/home">
    <p> Enter order id : <input type="text" name="order_id"> </p>
    <input type="submit">
  </form> -->
<p> balls </p>
